<%
locals.title = 'Feedback - JavaScripture';
locals.description = 'Send feedback about JavaScripture.com to help improve the accuracy, readability and usefulness of the content and examples on the site';
%>

<h1>Feedback</h1>
Thanks for using JavaScripture.com!  Please send us comments with your suggestions 
for the site and documentation. Your comments keep us motivated and help to make 
JavaScripture.com the best JavaScript resource!

<h2>Bugs and Typos</h2>
If you've found a bug with the site, please report it using GitHub: 
<a href="https://github.com/nkronlage/JavaScripture/issues/new">Create Bug Report</a>.

<h2>General Comments</h2>
If you have any other comments (or don't feel like entering the issue in GitHub), 
please use the following form to contact us directly.

<form action='https://script.google.com/macros/s/AKfycbx5uDsYEhAmNC5ZS7PIR-0WnK9wH0mEeM27o_Yd2zXN2gdVOMk/exec' method='post'>
  <input type="text" name="subject" value="">
  <script>
    var referrer = document.referrer || '';
    referrer = referrer.replace(location.origin, '');
    document.write("<input name='referrer' type='hidden' value='" + referrer + "'/>");
  </script>

  <h3>Comment</h3> 
  <textarea name='message' rows='6' cols='50' maxlength='500'></textarea>
  
  <h3>Your Email (optional)</h3> 
  <input name='email' type='text' />
  
  <input type='submit' value='Submit'/>
</form>
<style>
  input[name=subject] {
    display: none;
  }
</style>

