<%
locals.title = 'JavaScripture - The word on JavaScript';
%>
<div class='logo'>
<div class='javascripture'>
<h1>JavaScripture</h1>
<h3> The <span='word'>bridge</span> between W3C and EMCAScript.</h3>
<span class='byline'>The <span class='word'>word</span> on JavaScript</span>
</div>
</div>

<p>
JavaScript
is the programming language of the web and is quickly gaining traction
outside of the browser. JavaScripture.com is your definitive API reference
for JavaScript. Each reference page contains detailed descriptions
and examples you can modify and run to quickly learn by doing. 
</p>


