<div class='htmlexample'>
  <div class='codePanel'> 
    <h4>Example:</h4>
    <textarea class='code' rows="19" cols='60' wrap='off'><%= code %></textarea>

    <a onclick='executeHTMLExample(this.parentNode.parentNode, "<%= objectName + '.' + propertyName %>"); return false' href='#' class='run'>Run</a>
  </div>

  <div class='resultsPanel'>
    <h4>Results:</h4>
    <div style='position: relative'>
      <div class='htmlerrormessage' style='display: none'></div>
      <iframe class='output' width='350' height='200'></iframe>
      <pre class="results"> </pre>
    </div>
  </div>
</div>
