<%
locals.title = 'License and Copyright | JavaScripture';
%>
<h1>License and Copyright</h1>
<p>
All examples on the site are in the 
<a href='http://creativecommons.org/publicdomain/zero/1.0/'>public domain</a>.
Feel free to use them as you need to.
</p>
<p>
The documentation and site code (ie, everything but the examples) on 
JavaScripture are built by a 
<a href='https://github.com/nkronlage/JavaScripture'>community of contributors</a>
and are available under the terms of the
<a href='http://creativecommons.org/licenses/by-sa/2.5/'>Create Commons Attribution-ShareAlike license</a>.
In brief, you may copy and redistribute the documentation in any form and with
any changes as long as you attribute the original page on JavaScripture and
distribute your works with the same license.
</p>
<p>
Here's an example of attributing a page on JavaScripture:

<blockquote>
<a href='http://www.javascripture.com/Array'>Array JavaScript API</a> by 
<a href='https://github.com/nkronlage/JavaScripture/graphs/contributors'>JavaScripture Contributors</a>
is licensed under 
<a href='http://creativecommons.org/licenses/by-sa/2.5/'>CC-BY-SA 2.5</a>.
</blockquote>
</p>

